@import '@blueprintjs/core/lib/scss/variables.scss';
@import '../../../scss/Scrollbar.scss';

.asset-tree-container {
  display         : flex;
  flex            : 1;
  height          : 100%;
  max-height      : calc(100vh - 110px);
  overflow-y      : auto;
  background-color: $dark-gray1;
  @include scrollbars(10px, $gray1, $dark-gray1);

  &.dragging-asset {
    * {
      cursor: grabbing;
    }
  }

  .bp3-tree {
    height        : 100%;
    min-width     : 100%;
    padding-bottom: 20px;
  }

  .asset-tree-thumbnail-backdrop {
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 24px;
    height          : 24px;
    background-color: white;
    margin-right    : 10px;
    border-radius   : 4px;

    .asset-tree-thumbnail {
      width         : 20px;
      height        : 20px;
      pointer-events: none;
      object-fit    : contain;
    }
  }
}

.asset-hover-image-container {
  display        : flex;
  justify-content: center;
  align-items    : center;

  .asset-hover-image-backdrop {
    margin          : 4px;
    border-radius   : 12px;
    padding         : 12px;
    background-color: white;
    display         : flex;
    justify-content : center;
    align-items     : center;

    .asset-hover-image-preview {
      width     : 200px;
      height    : 200px;
      object-fit: contain;
    }
  }
}