@import '@blueprintjs/core/lib/scss/variables.scss';

.asset-manager {
  width: 100%;
  height: 100%;
  background-color: $dark-gray2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .asset-manager-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1600px;
  }

  .asset-manager-back-button {
    position: absolute;
    left: 0;
    top: 100;
  }
}
