@import '../../../node_modules/@blueprintjs/core/lib/scss/variables.scss';
@import '../../scss/Scrollbar.scss';

.left-panel-container {
  width         : 300px;
  height        : 100%;
  border-right  : 1px solid #8a9ba8;
  flex-direction: column;

  .left-panel-header {
    height         : 60px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    background-color: $dark-gray3;
    color: $white;
    button {
      width: 135px;
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  .left-panel-content {

  }

}