@import '@blueprintjs/core/lib/scss/variables.scss';
@import '../../../scss/Scrollbar.scss';

.layer-tree-container {
  display         : flex;
  flex-direction  : column;
  flex            : 1;
  background-color: $dark-gray1;
  height          : 100%;

  .layer-tree-mask {
    height: 100%;
    max-height: calc(100vh - 150px);
    @include scrollbars(10px, $dark-gray3, $dark-gray2);
    overflow-y      : auto;
  }

  .layer-tree {
    height        : 100%;
    min-width     : 100%;
    padding-bottom: 20px;

    .layer-tree-node {
      &>.#{$ns}-tree-node-content {
        position: relative;
      }

      &.selected-cover>.#{$ns}-tree-node-content {
        background-color: rgba($blue3, 0.7);
      }

      &.selected-child>.#{$ns}-tree-node-content {
        background-color: rgba($blue3, 0.3);
      }

      .#{$ns}-tree-node-label {
        position: static;
      }

      .reparent-line {
        position        : absolute;
        left            : 0px;
        right           : 0px;
        height          : 6px;
        background-color: rgba($red1, 0.7);
        z-index         : 10;

        &.reparent-top-line {
          top: -3px;
        }

        &.reparent-bottom-line {
          bottom: -3px;
        }
      }

      &.reparent-into {
        background-color: rgba($red1, 0.7);
      }
    }

    &.reparenting .#{$ns}-tree-node:not(.bp3-tree-node-selected) {
      .#{$ns}-tree-node-content {
        background-color: rgba(black, 0);
      }
    }
  }
}