@import '@blueprintjs/core/lib/scss/variables.scss';

.feature-property {
  padding-top   : 10px;
  padding-bottom: 10px;

  .feature-name {
    color         : $light-gray1;
    padding-bottom: 3px;
  }

  .feature-row {
    padding-right: 10px;
  }
}