@import '@blueprintjs/core/lib/scss/variables.scss';

.feature-view-container {
  background: $dark-gray1;
  padding: 6px;

  .feature-header {
    display: grid;
    grid-template-areas:
      'icon title'
      'icon subtitle';

    grid-template-columns: 76px auto auto;
    background: $dark-gray4;
    padding: 10px;

    .feature-icon {
      grid-area: icon;
      margin-right: 16px;
    }
    
    div.title {
      color: $light-gray5;
      grid-area: title;
      margin-bottom: 0px;
    }
  
    div.subtitle {
      color: $light-gray1;
      grid-area: subtitle;
    }

    div.title, div.subtitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .feature-body {
    padding: 0px 10px 0px 10px;
  }

  .feature-style-header {
    background-color: $dark-gray4;
    padding: 6px;
    color: $light-gray5;
    margin-bottom: 10px;
  }
}
