@import '../../../../node_modules/@blueprintjs/core/lib/scss/variables.scss';

.feature-view-container {
  padding: 16px;
  background: $dark-gray3;

  .section {
    padding-top: 20px;
  }

  .label {
    padding-top   : 20px;
    padding-bottom: 10px;
  }

  span.label {
    padding-right: 10px;
  }

  #geometry-type-buttons,
  #draw-button {
    width: 100%;
  }
}