@import '../../../node_modules/@blueprintjs/core/lib/scss/variables.scss';

.feature-panel-container {
  position: absolute;
  width: 300px;
  top: $pt-navbar-height + 10px;
  right: 10px;
  border-left: 1px solid #8A9BA8;
  flex-direction: column;
  background-color: $dark-gray3;
}
