@import '../../../node_modules/@blueprintjs/core/lib/scss/variables.scss';

.layer-view-container {
  padding: 16px;

  .buttons {
    padding-top    : 10px;
    width          : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: center;

    button {
      margin-top: 10px;
      width     : 100%;
    }
  }
}