@import '@blueprintjs/core/lib/scss/variables.scss';
@import '../../scss/Scrollbar.scss';

.project-list {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  @include scrollbars(10px, pink, $dark-gray1);

  .no-project-details {
    color: $light-gray1;
    width: 300px;
  }
}
