@import '@blueprintjs/core/lib/scss/variables.scss';

.grid-settings-form {
  color: $light-gray1;
  width: 400px;
  
  .color-preview {
    width: 50px;
    height: 33px;
    border: 1px solid $gray5;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
  }

  .settings-switch {
    margin-top: 5px;
    margin-left: 10px;
  }

  >*:not(:last-child) {
    margin-bottom: 20px;
  }
}
