@import '@blueprintjs/core/lib/scss/variables.scss';

.style-editor {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 10px;

  .style-picker {
    margin-bottom: 10px;
    width: 100%;
    .bp3-popover, .bp3-popover-target {
      width: 100%;
    }
  }

  .style-property {
    padding-top: 10px;
    padding-bottom: 10px;

    .style-label {
      color: $light-gray1;
      padding-bottom: 3px;
    }

    .style-row {
      display: flex;
      flex-direction: row;
    }

    .color-preview {
      border: 1px solid white;
      height: 30px;
      width: 200px;
      border-radius: 10px;

      &.disabled {
        border: 1px solid $gray3;
        cursor: default;
      }
    }

    .slider-property-row {
      margin-left: 20px;
      margin-right: 20px;
      width: 100%;
    }
  }
}

.color-picker {
  padding: 5px;
  background-color: $dark-gray5;
}
